@import '@/assets/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px theme('colors.secondary') inset !important;
    -webkit-text-fill-color: theme('colors.text') !important;
    transition: background-color 30000s;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #111214;
}

::-webkit-scrollbar {
    width: 12px; /* Ширина полосы */
}

::-webkit-scrollbar-track {
    background: #1B1C1E; /* Фон дорожки */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #8244FF; /* Цвет бегунка */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8E5FEC; /* Цвет при наведении */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}